<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title>결제 승인 요청</title>
		<link href="/css/output.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="fixed inset-0 flex flex-col items-center justify-center bg-white">
			<div class="w-16 h-16 border-4 border-yellow-400 border-t-black rounded-full animate-[spin_1s_linear_infinite]"></div>
			<p class="mt-4 text-gray-700 text-lg font-semibold">결제를 승인하는 중입니다...</p>
		</div>
		<script src="/js/paymentSuccess.js"></script>
	</body>
</html>